#root {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.toxic-popup.mapboxgl-popup {
    position: absolute;
    top: 10px;
    left: 10px;
    transform: none !important;
}

.mapboxgl-popup-tip {
    display: none !important;
}

.mapboxgl-popup-content {
    width: 500px !important;
}

#map-container {
    height: 100%;
    width: 100%;
    /* temporarily set the background color so we can tell where the map container is positioned */
    background-color: lightgrey;
}
